<ul class="nav">
    <li class="nav-item"><a href="/">Home</a></li>
    <li class="nav-item"><a href="/about">About cats</a></li>
    <li class="nav-item"><a href="/projects">Their projects</a></li>
</ul>